@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
/* } * */

/*  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0; */

* {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
  text-decoration: none;
  font-size: 24px;
}
header {
  margin-top: 15px;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.continer_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}
.logo_contanier {
  width: 345px;
  height: 112px;
}
.logo {
  width: 100%;
  height: 100%;
}
.menu_continer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.top_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  height: 40px;
  border-bottom: 1px solid #cbcbcb;
}
.down_menu {
  width: 90%;
  height: 100px;
}
.top_menu_text {
  font-family: "Montserrat", sans-serif;
  color: #cbcbcb;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  padding: 10px;
}
.riht_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.left_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 65px;
}
.left_nav li:hover {
  border-bottom: 1px solid black;
}
.nav_bar_continer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.riht_nav li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.riht_nav li a {
  padding: 20px;
}
.riht_nav .input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.riht_nav .input input {
  outline: none;
  height: 30px;
  border-radius: 20px 0px 0px 20px;
  border-left: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  background-color: #efefef;
  padding-left: 24px;
}
.riht_nav i {
  display: flex;
  width: 40px;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-right: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 0px 20px 20px 0px;
  background-color: #efefef;
}
.Menu_buttom {
  width: 40px;
  height: 40px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 100%;
}
.offer {
  width: 100%;
  height: 608px;
  background: url("../src/img/backgr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer_text {
  width: 50%;
  height: 50%;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 98px !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 600 !important;
  font-style: normal !important;
  color: white;
  text-transform: uppercase;
}
.bg_offer {
  width: 100%;
  height: 100%;
  background: #0000006c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer_text p {
  width: 100%;

  text-align: center;
  font-size: 48px !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
  color: white;
  text-transform: uppercase;
}
.offer_text ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer_text li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
}
.offer_text a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #344a32;
  font-size: 18px !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 600 !important;
  font-style: normal !important;
  color: white;
  text-transform: uppercase;
}

.offer_text li:hover {
  width: 280px;
  height: 60px;
  transition: 0.5s;
}
.contanier_novinki {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.novinki_wrap {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.top_novinki {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.top_novinki h2 {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
.top_novinki p {
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #828282;
  font-weight: 400;
  width: 100%;
}
.rekamend {
  width: 188px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 66px;
  background: url("/src/img/reka.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.rekamend p {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.item_new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 255px;
  height: 400px;
}
.img_new {
  width: 255px;
  height: 247px;
}
.txt_new {
  width: 100%;
  height: 70px;
}
.btn_new {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}
.btn_new a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}
.btn_new a:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 0px;
  color: white;
  background-color: #344a32;
}
.txt_new .bk_name {
  margin-left: 10px;
  width: 100%;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 15px;
}
.txt_new .bk_price {
  margin-left: 10px;
  width: 100%;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 5px;
  color: #828282;
}
.img_new img {
  width: 100%;
  height: 100%;
}
.down_novinki {
  width: 100%;

  flex-direction: row;
  display: flex;
  align-self: center;
  justify-content: center;
  height: 100%;
}
.down_wraper {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
}
.item_new:hover {
  margin-bottom: 30px;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.06);
}

.about {
  display: flex;
  margin: 168px 253px;
  gap: 4rem;
}

.line_about {
  width: 41px;
  height: 2px;
  background-color: #000000;
  margin-top: 8px;
}

.about_right h3 {
  font-size: 36px;
  font-weight: medium;
  color: #000000;
  font-family: "Inter", sans-serif !important;
}

.text_about p {
  width: 448px;
  text-align: justify;
  margin-top: 45px;
  font-size: 18px;
  font-family: "Inter", sans-serif !important;
}

.text_about1 {
  width: 311px;
  height: 2px;
  background-color: #000000;
  margin: 29px 0;
}

.lk-bg {
  background-image: url("./img/news.png");
  width: 100%;
  height: 399px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lk-title {
  font-size: 36px;
  color: white;
  font-weight: 500;
  margin-top: -20px;
  font-family: "Inter", sans-serif !important;
}

.lk-text {
  font-size: 18px;
  color: white;
  font-weight: 500;
  padding-top: 40px;
  text-align: center;
  width: 514px;
  padding-bottom: 43px;
  font-family: "Inter", sans-serif !important;
}

.lk-input {
  outline: none !important;
  width: 473px;
  height: 55px;
  border: none;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif !important;
}

.lk-button {
  width: 182px;
  height: 43px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: #344a32;
  border: none;
  cursor: pointer;
  margin-top: 23px;
  font-family: "Inter", sans-serif !important;
}

.lk-button:hover {
  background-color: #ffffff;
  color: #344a32;
}
.wraper_slider {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt_otzovi {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  color: white;
}
.txt_otzovi h6 {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.txt_otzovi p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.otzivi_continer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 50px;
}

.swiper-slide {
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  height: 350px;
  margin: 20px 0;
}
.otzivi_continer {
  margin-top: 100px;
  width: 100%;
  height: 700px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7511379551820728) 0%,
    rgba(0, 0, 0, 0.6615021008403361) 33%,
    rgb(193, 193, 193) 100%
  );
}
.name_ot {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 24px;
  font-weight: 600;
}
.txt_slider {
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}
.txt_wrap {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.lk-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
